<div class="flex items-center justify-center min-h-screen bg-gradient-to-r from-lightBeige to-softYellow">
    <div class="bg-white p-8  rounded-lg shadow-lg w-full max-w-xs">
      <div class="flex justify-center mb-6">
        <a routerLink="/" class="inline-block">
            <img src="logo-media-sense.png" alt="Media Sense Logo" class="h-10" />
        </a>
      </div>

      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="mb-4">
          <label class="block inter-regular text-xs text-navyBlue">Email</label>
          <input 
            type="email"
            formControlName="email"
            class="w-full px-2 py-1 rounded bg-lightGrey focus:outline-none focus:ring-2 transition"
            [ngClass]="{
              'focus:ring-primaryBlue': email?.valid || email?.untouched,
              'ring-2 ring-pink': email?.touched && email?.invalid
            }"
          />
          <p *ngIf="email?.touched && email?.invalid" class="text-xs text-red-500 mt-1">
            Please enter a valid email.
          </p>
        </div>
      
        <div class="mb-4">
          <label class="block inter-regular text-xs text-navyBlue">Password</label>
          <input 
            type="password"
            formControlName="password"
            class="w-full px-4 py-1 rounded bg-lightGrey focus:outline-none focus:ring-2 transition"
            [ngClass]="{
              'focus:ring-primaryBlue': password?.valid || password?.untouched,
              'ring-2 ring-pink': password?.touched && password?.invalid
            }"
          />
          <p *ngIf="password?.touched && password?.invalid" class="text-xs text-red-500 mt-1">
            Password is required.
          </p>
        </div>
      
        <div class="mb-10">
          <label class="block inter-regular text-xs text-navyBlue">Confirm Password</label>
          <input 
            type="password"
            formControlName="confirmPassword"
            class="w-full px-4 py-1 rounded bg-lightGrey focus:outline-none focus:ring-2 transition"
            [ngClass]="{
              'focus:ring-primaryBlue': confirmPassword?.valid && !form.hasError('mismatch') || confirmPassword?.untouched,
              'ring-2 ring-pink': confirmPassword?.touched && (confirmPassword?.invalid || form.hasError('mismatch'))
            }"
          />
          <p *ngIf="form.hasError('mismatch') && confirmPassword?.touched" class="text-xs text-red-500 mt-1">
            Passwords do not match.
          </p>
        </div>
      
        <button 
          type="submit" 
          class="w-full py-2 bg-primaryBlue text-white rounded hover:bg-softBlue transition"
        >
          Sign Up
        </button>
        <div *ngIf="errorMessage" class="text-xs text-red-500 mt-1">
          {{ errorMessage }}
        </div>
      </form>
      
    </div>
  </div>
  